include CHANGELOG.md
include CONTRIBUTING.md
include LICENSE
include PACKAGE_MANIFEST.json
include README.md
include requirements.lock
recursive-include conda-recipe *.yaml
recursive-include docs *.md
recursive-include scripts *.py
recursive-include tests *.py
